header {
	min-height: unset;
}

header .content {
	display: none;
}

header .logo img {
	width: 63px;
	scale: 1.4;
}

.banner {
	position: relative;
	margin-top: 79px;
}

.banner .bg-header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 79px;
	background: linear-gradient(90deg, #111F12 0%, #1B2C1A 100%);
	z-index: -1;
}

.banner .content {
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px 24px;
	border-radius: 16px;
	padding: 90px 290px;
	position: relative;
	margin-bottom: 200px;
}

.banner .content .title-mini {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0px;
}

.banner .content .title {
	color: #fff;
	font-size: 67px;
	font-weight: 300;
	line-height: 122%; 
	letter-spacing: -1.34px;
	margin: 0;
}

.banner .content .desc {
	position: inherit;
	z-index: 1;
}

.banner .content .desc p {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0px;
}

.banner .content .scope {
	position: absolute;
	right: 10%;
	bottom: -28%;
}

.banner .content .scope .scope-content {
	padding: 50px;
	border-radius: 16px;
	background: var(--light-green);
	backdrop-filter: blur(10px);
	width: max-content;
}

.banner .content .scope .scope-content .desc-1 {
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	margin: 0px;
}

.banner .content .scope .scope-content .desc-2 {
	color: #fff;
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0.24px;
	margin: 0px;
}

.banner .content .scope .scope-content span {
	width: 70px;
	height: 1px;
	background-color: #fff;
	display: block;
	margin: 16px 0px;
	position: relative;
}

.banner .content .scope .scope-content span::after {
	content: "";
	position: absolute;
	right: -5px;
	bottom: -2px;
	width: 5px;
	height: 5px;
	background-color: #fff;
	border-radius: 50%;
}

.banner .desire {
	width: 920px;
	margin: 0 auto;
	position: relative;
}

.banner .desire .title {
	color: var(--main-black);
	font-size: 67px;
	font-weight: 300;
	line-height: 122%;
	letter-spacing: -1.34px;
}

.banner .desire .title span {
	color: var(--main-green);
}

.banner .desire .title .border {
	position: absolute;
	height: 100%;
	left: -30px;
	top: -81%;
	z-index: -1;
}

.banner .desire .title .border::after {
	content: "";
	position: absolute;
	bottom: -8px;
	left: -4px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: var(--gray);
}

.banner .desire .desc {
	color: var(--body-color);
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.15px;
	margin-bottom: 24px;
}

.banner .desire .content-1 {
	width: 566px;
	margin-left: auto;
	margin-bottom: 48px;
}

.banner .desire .content-1 img {
	width: 566px;
	height: 283px;
	border-radius: 16px;
}

.banner .desire .content-2 {
	display: flex;
	gap: 16px;
}

.banner .desire .content-2 img {
	width: 338px;
	height: 495px;
	border-radius: 16px;
}

.banner .desire .content-2 div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.banner .desire .content-2 .desc {
	width: 330px;
}

.banner .desire .quote {
	width: 566px;
	color: var(--main-green);
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	letter-spacing: 0.24px;
	margin: 0;
}

.value {
	background-color: var(--main-green);
	padding: 50px 24px 180px 24px;
}

.value .title {
	color: #fff;
	font-size: 67px;
	font-weight: 300;
	line-height: 122%;
	letter-spacing: -1.34px;
}

.value .title-mini {
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.value .list {
	display: flex;
	justify-content: space-between;
}

.value .list .item {
	position: relative;
	padding-top: 160px;
}

.value .list .item .number {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 200px;
	font-weight: 600;
	line-height: 1;
	margin: 0px;
	opacity: 0.3;
	color: transparent;
	-webkit-text-stroke: 2px #ffffff;
	-webkit-mask-image: linear-gradient(180deg, rgb(255 255 255) 60%, rgba(0, 0, 0, 0) 85%);
	mask-image: linear-gradient(180deg, rgb(255 255 255) 60%, rgba(0, 0, 0, 0) 85%);
}

.value .list .item .content {
	color: #fff;
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.24px;
	z-index: 1;
	position: inherit;
	margin-left: 120px;
}

.founder-message {
	padding: 120px 0px;
	background-repeat: no-repeat;
	background-size: cover;
}

.founder-message .title {
	color: #fff;
	font-size: 67px;
	font-weight: 300;
	line-height: 122%;
	letter-spacing: -1.34px;
	margin-bottom: 48px;
}

.founder-message .title-mini {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.founder-message .message .content {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	font-style: italic;
	line-height: normal;
	letter-spacing: 0.24px;
	margin-bottom: 24px;
}

.founder-message .message .founder {
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.12px;
	margin: 0px;
}

.founder-message .message-1 {
	padding-left: 220px;
	padding-right: 220px;
	margin-bottom: 56px;
}

.founder-message .message-1::before {
	top: 109px;
	width: 190px;
}

.founder-message .message-1::after {
	top: 105px;
	left: 190px;
}

.founder-message .message-2::before {
	top: 109px;
	width: 190px;
	left: unset;
	right: 0px;
}

.founder-message .message-2::after {
	top: 105px;
	left: unset;
	right: 190px;
}

.founder-message .message-2 {
	padding-left: 220px;
	padding-right: 220px;
	width: max-content;
	margin-left: auto;
}

.founder-message .message {
	width: 684px;
}

.founder-message .message-1 .message {
	padding: 36px;
	border-radius: 16px;
	background: var(--main-green);
	backdrop-filter: blur(7.5px);
}

.founder-message .message-2 .message {
	padding: 36px;
	border-radius: 16px;
	background: var(--body-color);
	backdrop-filter: blur(7.5px);
}

.founder-message .message-2 .message .content,
.founder-message .message-2 .title,
.founder-message .message-2 .title-mini {
	text-align: right;
}

.person {
	background: #F8F8F8;
	padding-top: 60px;
	padding-bottom: 60px;
}

.person .content {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.person .content .hr {
	height: 86%;
	width: 1px;
	background-color: var(--light-green);
	position: absolute;
	left: -25px;
	top: 18px;
}

.person .content .hr::before {
	content: "";
	position: absolute;
	left: -4px;
	top: 0px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--light-green);;
}

.person .title {
	color: var(--main-black);
	text-align: center;
	font-size: 67px;
	font-weight: 300;
	line-height: 122%;
	letter-spacing: -1.34px;
	margin-bottom: 48px;
}

.person .info {
	display: flex;
	justify-content: space-between;
}

.person .info div {
	display: flex;
	flex-direction: column;
	gap: 48px;
}

.person .info .desc {
	color: var(--main-green);
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
}

.person .info .quote {
	width: 448px;
	color: var(--main-green);
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.24px;
	margin: 0px;
}

.person .info img {
	width: 741px;
	height: 440px;
	object-fit: cover;
	margin-top: 91px;
}

.team .title {
	color: var(--main-black);
	text-align: right;
	font-size: 67px;
	font-weight: 300;
	line-height: 122%;
	letter-spacing: -1.34px;
}

.team .title span {
	color: var(--main-green);
}

.team .founder {
	display: flex;
	justify-content: center;
}

.team .founder .image {
	position: relative;
	width: 566px;
	text-align: center;
}

.team .founder .image img {
	width: 357px;
	height: 465px;
	object-fit: cover;
	object-position: center;
	filter: grayscale(100%);
}

.team .founder .image .bg-image {
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 200px;
	background: var(--main-green);
	z-index: -1;
}

.team .founder .founder-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.team .founder .founder-info .info {
	padding-top: 24px;
	padding-left: 24px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 200px;
}

.team .founder .founder-info .info * {
	margin: 0;
}

.team .info .name {
	color: var(--main-black);
	text-align: justify;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0;
}

.team .info .position {
	color: var(--main-green, #48684B);
	font-size: 12px;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.12px;
}

.team .info .desc {
	color: var(--body-color);
	text-align: justify;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.15px;
}

.team .founder .founder-info .info .desc {
	width: 556px;
}

.team .member {
	display: flex;
	justify-content: space-between;
	width: 1146px;
	margin: 50px auto 70px auto;
}

.team .member .item img {
	width: 352px;
	height: 352px;
	object-fit: cover;
	object-position: center;
	filter: grayscale(100%);
}

.team .member .item .info {
	padding-top: 24px;
	padding-left: 24px;
	border-left: 1px solid var(--gray);
}

.team .member .item .info .desc {
	width: 328px;
}

@media (max-width: 1400px) {
	.banner .content {
		padding: 60px 240px 20px 240px;
	}

	.person .content {
		width: 85%;
	}
}

@media (max-width: 1300px) {
	.banner .content {
		padding: 40px 180px 20px 180px;
	}

	.person .content {
		width: 90%;
	}

	.person .info img {
		width: 641px;
		height: 340px;
	}
}

@media (max-width: 1199px) {
	.banner .content {
		padding: 40px 120px 20px 120px;
	}

	.banner .content .title {
		font-size: 56px;
	}

	.banner .desire {
		width: 80%;
	}

	.banner .desire .title {
		font-size: 60px;
	}

	.banner .desire .title .border {
		top: -83%;
	}

	.person .title {
		font-size: 58px;
	}

	.person .info {
		align-items: end;
	}

	.person .info img {
		width: 50%;
		height: 340px;
	}

	.person .info .quote {
		width: 400px;
	}

	.person .content .hr {
		height: 97%;
	}

	.team {
		width: 95%;
		margin-left: auto;
		margin-right: auto;
	}

	.team .founder .image {
		width: 50%;
	}

	.team .member {
		width: 100%;
		gap: 24px;
	}

	.team .member .item img {
		width: 100%;
		height: 302px;
	}

	.team .member .item .info .desc {
		width: 100%;
	}

	.team .info .name {
		letter-spacing: normal;
	}

	.founder-message .message-1 {
		padding-right: 0px;
	}

	.founder-message .message-2 {
		padding-left: 0px;
	}

	.value .list .item {
		padding-top: 110px;
	}

	.value .list .item .number {
		font-size: 150px; 
	}

	.value .list .item .content {
		margin-left: 80px;
	}
}

@media (max-width: 991px) {
	.banner .content {
		padding: 40px 50px 20px 50px;
	}

	.banner .content .scope {
		right: 0%;
	}

	.banner .content .scope .scope-content {
		padding: 30px;
	}

	.banner .desire .title {
		font-size: 51px;
	}

	.banner .desire .title .border {
		top: -86%;
	}

	.banner .desire .content-1 {
		width: 100%;
	}

	.banner .desire .content-1 img {
		width: 100%;
		height: 330px;
	}

	.banner .desire .content-2 .quote {
		width: 100%;
	}

	.team .founder .founder-info .info .desc {
		width: 100%;
	}

	.founder-message {
		padding-left: 24px;
		padding-right: 24px;
	}
	
	.founder-message .message-1,
	.founder-message .message-2 {
		padding: 0px;
		width: max-content;
	}

	.founder-message .message-1::before {
		top: 145px;
		left: -24px;
	}

	.founder-message .message-1::after {
		top: 140px;
		left: 166px;
	}

	.founder-message .message-2::before {
		top: 145px;
		right: -24px;
	}

	.founder-message .message-2::after {
		top: 140px;
		right: 166px;
	}

	.person .title {
		font-size: 45px;
	}

	.person .info {
		gap: 16px;
	}

	.person .info .quote {
		width: 100%;
	}

	.value .list .item {
		padding-top: 0px;
	}

	.value .list .item .number {
		font-size: 120px;
	}

	.value .list .item .content {
		margin-left: 50px;
	}
}

@media (max-width: 767px) {
	.banner {
		margin-top: 95px;
	}

	.banner .content {
		height: 400px;
		margin-bottom: 150px;
	}

	.banner .desire {
		width: 90%;
	}

	.banner .desire .title {
		font-size: 43px;
	}

	.banner .desire .title .border {
		display: none;
	}

	.banner .desire .quote {
		width: 100%;
	}

	.banner .desire .content-2 {
		justify-content: center;
	}

	.banner .desire .content-2 .desc {
		width: 235px;
	}

	.banner .desire .content-2 img {
		width: 110px;
		height: 165px;
	}

	.value {
		padding-bottom: 80px;
	}

	.value .title {
		font-size: 50px;
	}

	.value .list {
		flex-wrap: wrap;
		row-gap: 16px;
	}

	.value .list .item {
		width: 49%;
		text-align: center;
	}

	.value .list .item .number {
		padding-top: 0px;
		position: initial;
	}

	.founder-message {
		padding: 80px 24px;
	}

	.founder-message .title {
		font-size: 36px;
	}

	.founder-message .title-mini {
		font-size: 17px;
	}

	.founder-message .message {
		width: 100%;
	}

	.founder-message .message .content {
		font-size: 18px;
	}

	.founder-message .message-1,
	.founder-message .message-2 {
		width: 298px;
	}

	.founder-message .message-1::before,
	.founder-message .message-2::before {
		top: 110px;
	}

	.founder-message .message-1::after,
	.founder-message .message-2::after {
		top: 106px;
	}

	.founder-message .message-2 .message {
		padding: 33px
	}

	.person {
		padding: 24px;
	}

	.person .title {
		font-size: 46px;
		width: 350px;
		margin-left: auto;
	}

	.person .info div {
		width: 350px;
	}

	.person .info {
		flex-direction: column;
	}

	.person .info img {
		width: 100%;
		margin-top: 0px;
	}

	.person .content .hr {
		height: 66%;
	}

	.team .title {
		margin-bottom: -40px;
		font-size: 50px;
	}

	.team .founder {
		flex-direction: column;
	}

	.team .founder .image {
		width: 100%;
	}

	.team .founder .image img {
		width: 307px;
		height: 415px;
	}

	.team .founder .founder-info .info {
		border-left: 1px solid var(--gray);
	}

	.team .member {
		flex-wrap: wrap;
		column-gap: 0px;
	}

	.team .member .item {
		width: 48%;
	}
}

@media (max-width: 576px) {
	.banner {
		margin-top: 66px;
	}

	.banner .content .title,
	.team .title {
		font-size: 48px;
	}

	.banner .content .title-mini {
		font-size: 17px;
	}

	.banner .content .scope .scope-content .desc-1 {
		font-size: 15px;
	}

	.banner .content .scope .scope-content .desc-2 {
		font-size: 18px;
	}

	.banner .desire .title {
		font-size: 38px;
		margin-bottom: 50px;
	}

	.banner .desire .content-1 img {
		height: 180px;
	}

	.banner .desire .quote {
		font-size: 18px;
	}

	.value .title {
		font-size: 40px;
	}

	.value .title-mini {
		font-size: 17px;
	}

	.person .title {
		font-size: 36px;
		width: 320px;
		text-align: start;
		margin-bottom: 24px;
	}

	.person .info .desc {
		margin: 0px;
	}

	.person .info .quote {
		font-size: 19px;
	}

	.person .info div {
		width: 320px;
		gap: 24px;
	}

	.person .info img {
		height: 239px;
	}

	.person .content .hr {
		height: 63%;
	}

	.team .member .item img {
		width: 218px;
		height: 218px;
	}

	.team .info .name {
		font-size: 17px;
		width: 150px;
		text-align: unset;
		letter-spacing: 2px;
	}

	.team .info .desc {
		letter-spacing: normal;
		text-align: unset;
	}

	.team .founder .founder-info .info {
		padding-top: 12px;
		padding-left: 12px;
	}

	.team .founder .image img {
		width: 307px;
		height: 400px;
		object-fit: contain;
	}

	.team .member .item .info .desc {
		padding-left: 16px;
	}

	.team .member .item .info {
		padding-top: 16px;
		padding-left: 16px;
	}

	.value .list .item .content {
		margin-top: -30px;
	}
}

@media (max-width: 450px) {
	.banner .desire .title {
		font-size: 29px;
	}

	.team .title {
		font-size: 36px;
	}

	.team .founder .image img {
		height: 335px;
	}

	.team .member .item img {
		width: 173px;
		height: 173px;
	}

	.team .member .item .info {
		width: 173px;
	}

	.person .info div {
		width: 100%;
	}

	.value {
		padding-left: 18px;
		padding-right: 18px;
	}

	.value .list .item .content {
		margin-left: 0px;
	}
}

@media (max-width: 380px) {
	.person .title {
		width: 100%;
	}

	.banner .content .title {
		font-size: 40px;
	}

	.team .title {
		font-size: 32px;
	}

	.banner .desire .title {
		font-size: 25px;
	}

	.banner .desire .content-2 .desc {
		width: 100%;
	}

	.banner .content .scope .scope-content {
		padding: 18px;
	}

	.banner .content .scope .scope-content .desc-1 {
		font-size: 14px;
	}

	.banner .content .scope .scope-content .desc-2 {
		font-size: 17px;
	}

	.team .info .name {
		width: 100%;
	}

	.team .member .item img {
		width: 100%;
		height: 160px;
	}

	.team .member .item .info {
		width: 147px;
	}

	.founder-message .message-1,
	.founder-message .message-2 {
		width: 100%;
	}

	.value .list .item .content {
		font-size: 20px;
	}

	.value .list .item .number {
		font-size: 110px;
	}
}