header {
	min-height: unset;
}

header .logo img {
	width: 63px;
	scale: 1.4;
}

body .page {
	margin-top: 10px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	min-height: 33vh;
}

.banner {
	position: relative;
	margin-top: 78px;
}

.banner .bg-header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 79px;
	background: var(--header-bg-color);
	z-index: -1;
}

.banner .bg-banner {
	margin: 0px 20px;
	padding: 40px 120px;
	border-radius: 16px;
	background-position-y: 10%;
}

.banner .bg-banner .block-title {
	color: #fff;
}

.categories {
	display: flex;
}

.categories .item {
	flex: 1;
	color: var(--gray);
	text-align: center;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	text-decoration: none;
}

.categories .item.active {
	color: var(--main-green);
}

.news {
	margin-top: 60px;
}

.new .category {
	color: var(--main-green);
	font-size: 14px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.12px;
	text-transform: uppercase;
}

.new .post-date {
	color: #C8C8C8;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.12px;
}

.new p.title {
	color: var(--main-black);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.15px;
}

.news .new {
	text-decoration: none;
}

.news .first-news {
	display: flex;
	gap: 24px;
}

.news .first-news .left {
	width: 684px;
	height: 473px;
}

.news .first-news .left .new {
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: end;
	background-position: center;
}

.news .first-news .left .new .content {
	padding: 24px;
	padding-top: 100px;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);
	width: 100%;
}

.news .first-news .left .new .content .title {
	color: #fff;
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.24px;
}

.news .first-news .left .new .content .list-category .category {
	color: var(--light-green);
}

.news .first-news .left .new .content .post-date {
	color: #fff;
	font-size: 12px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0.12px;
}

.news .first-news .right {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.news .first-news .right .new {
	display: flex;
}

.news .first-news .right .new .image img {
	width: 220px;
    height: 147px;
	object-fit: cover;
}

.news .first-news .right .new .content {
	border-top: 1px solid var(--gray);
	padding: 16px;
	padding-bottom: 0px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 8px;
}

.news .first-news .right .new .content p {
	margin: 0px;
}

.news .first-news .right .new .content .title {
	width: 224px;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.news .list-news {
	margin-top: 48px;
	display: flex;
	gap: 48px;
}

.news .list-news .left {
	width: 929px;
}

.news .list-news .left .list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 24px;
}

.news .list-news .left .list .new {
	width: 49%;
}

.news .list-news .left .list .new .image img {
	width: 100%;
    height: 300px;
	object-fit: cover;
}

.news .list-news .left .list .new .content {
	border-left: 1px solid var(--Gray-Line, #E2E2E2);
	padding: 12px 0px 0px 12px;
}

.news .list-news .left .pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: max-content;
	gap: 24px;
	margin-top: 48px;
}

.news .list-news .left .pagination .btn-paginate {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border: 1px solid #000;
	border-radius: 50%;
	cursor: pointer;
}

.news .list-news .left .pagination .list-page {
	display: flex;
	gap: 8px;
}

.news .list-news .left .pagination .list-page .item {
	width: 30px;
    margin: 5px 2px;
    background-color: var(--gray);
    height: 2px;
    display: block;
}

.news .list-news .left .pagination .list-page .item.active {
	background-color: var(--main-green);
}

.news .list-news .right .ads-banner {
	border: 1px solid var(--gray);
	border-radius: 16px;
	overflow: hidden;
}

.news .list-news .right .ads-banner img {
	filter: blur(100px);
	width: 300px;
	height: 650px;
}

.news .list-news .right .form-contact {
	margin-top: 36px;
	width: 301px;
	height: 301px;
	padding: 24px;
	border-radius: 16px;
	background-color: var(--main-green);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.news .list-news .right .form-contact .title {
	color: #fff;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	margin-bottom: 24px;
}

.news .list-news .right .form-contact .input {
	position: relative;
	margin-bottom: 16px;
}

.news .list-news .right .form-contact .input input {
	width: 100%;
	border: 0px;
	padding: 10px;
	background: unset;
	color: #fff;
}

.news .list-news .right .form-contact .input input::placeholder {
	color: var(--gray);
	opacity: 0.3;
}

.news .list-news .right .form-contact .input input:focus-visible {
	outline: none;
}

.news .list-news .right .form-contact .input::before {
	content: "";
	width: 100%;
	height: 1px;
	background-color: var(--gray);
	position: absolute;
	bottom: -7px;
    left: 9px;
}

.news .list-news .right .form-contact .input::after {
	content: "";
	width: 10px;
	height: 10px;
	background-color: var(--gray);
	position: absolute;
	bottom: -11px;
    left: 0px;
	border-radius: 50%;
}

.news .list-news .right .form-contact .btn-explore {
	margin-top: 40px;
}

@media (max-width: 1500px) {
	body .page  {
		width: 95%;
	}
}

@media (max-width: 1400px) {
	body .page  {
		width: 100%;
	}
}

@media (max-width: 1300px) {
	body .page  {
		width: 100%;
	}

	.news .first-news .left {
		width: 600px;
	}

	.news .list-news .left {
		width: 844px;
	}
}

@media (max-width: 1199px) {
	.news .first-news .left {
		width: 500px;
		height: 400px;
	}

	.news .first-news .right .new .image img {
		height: 123px;
	}

	.news .list-news {
        gap: 0;
		justify-content: space-between;
    }

	.news .list-news .left {
        width: 743px;
    }
}

@media (max-width: 1099px) {
	.news .first-news {
		gap: 16px;
	}

	.news .first-news .right .new .image img {
		width: 180px;
	}

	.news .list-news .left {
        width: 686px;
    }

	.news .list-news .right {
		width: 250px;
	}

	.news .list-news .right .ads-banner img{
		width: 100%;
	}
}

@media (max-width: 991px) {
	.banner .bg-banner {
		background-position-x: 10%;
	}

	.categories {
		overflow-x: scroll;
        width: 100%;
        gap: 24px;
		padding-bottom: 8px;
	}

	.categories .item {
		white-space: nowrap;
	}

	.news .first-news {
		flex-direction: column;
	}

	.news .first-news .left {
		width: 100%;
	}

	.news .first-news .right .new .image img {
		width: 300px;
		height: 180px;
	}

	.news .first-news .right .new .content {
		width: calc(100% - 300px);
	}

	.news .first-news .right .new .content .title {
		width: 100%;
	}

	.news .list-news .left .list .new .image img {
		height: 250px;
	}

	.news .list-news .left .list .new {
		width: 100%;
	}
}

@media (max-width: 767px) {
	body .page {
		margin-top: 40px;
	}

	.banner {
		margin-top: 96px;
	}

	.news .list-news {
		gap: 0px;
		justify-content: space-between;
	}

	.news .list-news .left {
		width: 51%;
	}

	.news .list-news .right .ads-banner img {
		width: 250px;
    	height: 600px;
	}

	.news .list-news .right  {
		width: 250px;
	}

	.news .list-news .right .ads-banner img {
		width: 100%;	
	}

	.news .list-news .right .form-contact {
		width: 100%;
		height: auto;
	}
}

@media (max-width: 576px) {
	body .page {
		padding: 12px;
		margin-bottom: 64px;
	}

	.banner {
        margin-top: 66px;
    }

	.banner .bg-header {
		height: 50px;
	}

	.banner .bg-banner {
		padding: 36px;
		background-size: 240%;
		background-position-x: 0%;
		margin: 0px 12px;
	}

	.banner .bg-banner .block-title {
		margin: 0px;
	}

	.news, body .page {
		margin-top: 24px;
	}

	.news .first-news .right .new .content .title {
		font-weight: 500;
	}

	.news .first-news .right .new .image img {
		width: 200px;
		height: 130px;
	}

	.news .first-news .right .new .content {
        width: calc(100% - 200px);
    }

	.news .list-news {
		flex-direction: column;
	}

	.news .list-news .right {
		width: 100%;
	}

	.news .list-news .right .ads-banner {
		display: none;
	}

	.news .list-news .left {
		width: 100%;
	}

	.news .list-news .left .list .new .image img {
		height: 250px;
	}

	.news .list-news .left .pagination {
		width: 100%;
		margin-top: 16px;
	}
}

@media (max-width: 480px) {
	.banner .bg-banner .block-title {
		font-size: 40px;
	}

	.categories .item {
		font-size: 14px;
	}

	.new .category {
		font-size: 12px;
	}

	.news .first-news .left {
		height: 300px;
	}

	.news .first-news .left .new .content .title {
		font-size: 18px;
	}

	.news .first-news .right .new .content .title {
		font-size: 13px;
	}

	.news .first-news .right .new .image img {
		width: 170px;
		height: 120px;
	}

	.news .first-news .right .new .content {
        width: calc(100% - 170px);
    }
}

@media (max-width: 380px) {
	.news .first-news .left {
		height: 250px;
	}

	.banner .bg-banner {
        padding: 24px;
    }

	.banner .bg-banner .block-title {
        font-size: 32px;
    }

	.news .first-news .right .new .image img {
		width: 150px;
		height: 110px;
	}

	.news .first-news .right .new .content {
        width: calc(100% - 130px);
		padding: 8px 0px 0px 16px;
		gap: 4px;
    }

	.news .list-news .left .list .new .image img {
        height: 220px;
    }
}