header {
	min-height: unset;
}

.page {
	margin-top: 79px;
	min-height: 51vh;
}

.breadcrumb a {
	text-decoration: none;
	color: #2844b1;
}

@media (max-width: 1399px) {
	.page {
		padding: 0px;
	}
}

@media (max-width: 1199px) {
	
}

@media (max-width: 991px) {
	
}

@media (max-width: 767px) {
	
}

@media (max-width: 576px) {
	.block-title {
		font-size: 36px;
	}

	.margin-section {
        margin-top: 50px !important;
    }

	.page {
		margin-top: 80px;
	}
}

@media (max-width: 450px) {
	.block-title {
		font-size: 32px;
	}
}

@media (max-width: 380px) {
	.block-title {
		font-size: 28px;
	}

	.block-desc {
		font-size: 13px;
	}
}