header {
	min-height: unset;
}

header .content {
	display: none;
}

.banner {
	height: 616px;
	position: relative;
	margin-top: 78px;
}

.banner .bg-header {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 79px;
	background: linear-gradient(90deg, #111F12 0%, #1B2C1A 100%);
	z-index: -1;
}

.banner .content {
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	position: relative;
	z-index: -1;
	margin: 0px 24px;
	height: 616px;
	border-radius: 16px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.banner .content .bg-blur {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border-radius: 16px;
	background: rgba(0, 0, 0, 0.37);
	z-index: 1;
}

.banner .content .title {
	color: #fff;
	font-size: 67px;
	font-weight: 300;
	line-height: 108%;
	letter-spacing: -1.34px;
	position: inherit;
	z-index: 1;
}

.banner .content .desc {
	position: inherit;
	z-index: 1;
}

.banner .content .desc p {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0px;
}

.banner .content .desc .btn-explore {
	position: absolute;
	left: 45%;
	transform: translateX(45%);
	bottom: 5px;
}

.vision {
	width: 800px;
	padding-left: 10%;
	margin-top: 48px;
}

.vision.bullet-point::after {
	top: 7px;
}

.vision.bullet-point::before {
	top: 11px;
	width: 150px;
}

.vision.bullet-point::after {
	left: 150px;
}

.vision p {
	color: var(--body-color);
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.15px;
}

.vision p b {
	color: var(--main-black);
}

.why-choose {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.why-choose .title-mini {
	color: var(--main-black);
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.why-choose .title {
	color: var(--main-green);
	font-size: 67px;
	font-weight: 300;
	line-height: 122%;
	letter-spacing: -1.34px;
}

.why-choose .services {
	margin-top: 48px;
}

.why-choose .services .tab {
	display: flex;
}

.why-choose .services .tab .item {
	text-align: center;
	padding: 20px;
	border-radius: 16px 16px 0px 0px;
	background: var(--gray);
	flex: 1;
	color: var(--main-black);
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	cursor: pointer;
}

.why-choose .services .tab .item.active {
	background: var(--main-green);
	color: #fff;
}

.why-choose .services .tab-content {
	padding: 24px;
	background: #F4F8EE;
}

.why-choose .services .tab-content .item {
	display: none;
	justify-content: space-between;
	transition: display 300ms;
}

.why-choose .services .tab-content .item.active {
	display: flex;
}

.why-choose .services .tab-content .item .content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.why-choose .services .tab-content .item .content .desc {
	width: 660px;
}

.why-choose .services .tab-content .item .content .desc p {
	color: var(--body-color);
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.15px;
}

.why-choose .services .tab-content .item .content .desc p b {
	color: var(--main-black);
}

.why-choose .services .tab-content .item .content .slogan {
	color: var(--main-green);
	font-size: 24px;
	font-style: italic;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.24px;
}

.why-choose .services .tab-content .item .image img {
	width: 330px;
	height: 440px;
	object-fit: cover;
	object-position: center;
}

.working {
	background-color: var(--main-green);
	padding: 50px 24px 180px 24px;
}

.working .title {
	color: #fff;
	font-size: 67px;
	font-weight: 300;
	line-height: 122%;
	letter-spacing: -1.34px;
	margin: 0px;
}

.working .list {
	display: flex;
	gap: 120px;
	padding-left: 280px;
	margin-top: -40px;
}

.working .list .item {
	position: relative;
	padding-top: 160px;
}

.working .list .item .number {
	position: absolute;
	top: 0px;
	left: 0px;
	font-size: 200px;
	font-weight: 600;
	line-height: 1;
	margin: 0px;
	opacity: 0.3;
	color: transparent;
	-webkit-text-stroke: 2px #ffffff;
	-webkit-mask-image: linear-gradient(180deg, rgb(255 255 255) 60%, rgba(0, 0, 0, 0) 85%);
	mask-image: linear-gradient(180deg, rgb(255 255 255) 60%, rgba(0, 0, 0, 0) 85%);
}

.working .list .item .content {
	width: 212px;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 1.6px;
	text-transform: uppercase;
	z-index: 1;
	position: inherit;
	margin-left: 120px;
}

.workflow {
	padding: 0px 50px 50px 50px;
}

.workflow .title {
	color: var(--main-black);
	text-align: center;
	font-size: 67px;
	font-weight: 300;
	line-height: 122%;
	letter-spacing: -1.34px;
	margin-bottom: 56px;
}

.workflow .title span {
	color: var(--main-green);
}

.workflow .list {
	display: flex;
	justify-content: space-between;
	row-gap: 48px;
	flex-wrap: wrap;
	margin-bottom: 32px;
}

.workflow .list .item {
	width: 24%;
	display: flex;
}

.workflow .list .item .step {
	color: var(--light-green);
	text-align: center;
	font-size: 60px;
	font-weight: 200;
	line-height: normal;
	width: 120px;
}

.workflow .list .item .content {
	border-left: 1px solid var(--light-green);
	padding-left: 24px;
	height: max-content;
}

.workflow .list .item .content .text {
	width: 220px;
}

.workflow .list .item .content .name {
	color: var(--main-black);
	font-size: 15px;
	font-weight: 700;
	line-height: 20px;
	letter-spacing: 0.15px;
}

.workflow .list .item .content .desc {
	color: var(--body-color);
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.15px;
	margin: 0px;
}

.price-list {
	padding: 0 24px;
}

.price-list .title {
	color: var(--main-green);
	text-align: center;
	font-size: 67px;
	font-weight: 300;
	line-height: 122%;
	letter-spacing: -1.34px;
	margin-bottom: 8px;
}

.price-list .title-mini {
	color: var(--main-black);
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 48px;
}

.price-list .table-price-list {
	display: flex;
	justify-content: center;
	gap: 24px;
	margin-bottom: 50px;
}

.price-list .table-price-list .item {
	width: 369px;
	padding: 24px;
	border-radius: 16px;
	border: 1px solid var(--gray-text);
	background: #FBFBFB;
}

.price-list .table-price-list .item .icon {
	width: 64px;
	height: 64px;
	margin: 0 auto;
}

.price-list .table-price-list .item .icon img {
	width: 100%;
	height: 100%;
}

.price-list .table-price-list .item .title {
	color: var(--gray-text);
	text-align: center;
	font-size: 60px;
	font-weight: 600;
	line-height: 110%;
	letter-spacing: -2.16px;
	margin-bottom: 8px;
	min-height: 146px;
}

.price-list .table-price-list .item .detail-1,
.price-list .table-price-list .item .detail-2 {
	color: var(--main-black);
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.15px;
	margin-bottom: 0px;
}

.price-list .table-price-list .item .detail-1 {
	margin-bottom: 4px;
	min-height: 40px;
}

.price-list .table-price-list .item .detail-2 {
	min-height: 60px;
}

.price-list .table-price-list .item .price {
	color: var(--main-black);
	text-align: center;
	font-size: 36px;
	font-weight: 600;
	line-height: 122%;
	letter-spacing: -0.72px;
	min-height: 73px;
}

.price-list .table-price-list .item-3 .price {
	font-size: 20px;
	width: 320px;
}

.price-list .table-price-list .item .hr {
	background: var(--Gray-Line, #E2E2E2);
	height: 1px;
	width: 100%;
	margin: 24px 0;
}

.price-list .table-price-list .item .desc {
	color: var(--main-black);
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.15px;
	margin-bottom: 0;
}

.price-list .table-price-list .item .desc .desc-title:first-child {
	min-height: 60px;
}

.price-list .table-price-list .item .desc .desc-content {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 0;
}

.price-list .table-price-list .item-2 {
	background: #FBFFF5;
}

.price-list .table-price-list .item-2 .title {
	color: var(--light-green);
}

.price-list .table-price-list .item-2 .hr {
	background: var(--light-green);
}

.price-list .table-price-list .item-3 {
	background: #C7DEA1;
}

.price-list .table-price-list .item-3 .title {
	color: var(--main-green);
}

.price-list .table-price-list .item-3 .hr {
	background: var(--main-green);
}

.partner {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}

.partner .title-mini {
	color: var(--main-black);
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin: 0px;
}

.partner .title {
	color: var(--main-green, #48684B);
	font-size: 67px;
	font-weight: 300;
	line-height: 122%;
	letter-spacing: -1.34px;
	margin-bottom: 48px;
}

.partner .list-scroll {
	overflow-x: scroll;
	padding-bottom: 8px;
}

.partner .list-scroll .list {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	width: 100%;
}

.partner .list .item {
	padding: 70px 50px;
	text-align: center;
	background: #FAFAFA;
}

.partner .list .item img {
	width: 184px;
	height: 62px;
	object-fit: cover;
	object-position: center;
	filter: grayscale(100%);
}

.partner .list .item.active img {
	filter: grayscale(0%);
}

@media (max-width: 1600px) {
	.working .list {
		padding-left: 240px;
		margin-top: 0px;
		gap: 80px;
	}

	.vision.bullet-point::before {
		width: 130px;
	}
	
	.vision.bullet-point::after {
		left: 130px;
	}
}

@media (max-width: 1500px) {
	.vision.bullet-point::before {
		width: 100px;
	}
	
	.vision.bullet-point::after {
		left: 100px;
	}

	.working .list {
		gap: 40px;
		padding-left: 10%;
	}

	.workflow {
		padding: 0px 30px 50px 30px;
	}

	.workflow .list {
		justify-content: left;
		gap: 56px;
		column-gap: 8px;
	}

	.workflow .list .item .content {
		padding-left: 12px;
	}

	.workflow .list .item .step {
		font-size: 50px;
		width: 80px;
	}

	.workflow .list .item .content {
		width: calc(100% - 80px);
	}

	.workflow .list .item .content .text {
		width: auto;
	}
}

@media (max-width: 1400px) {
	.partner {
		width: 90%;
	}
}

@media (max-width: 1300px) {
	.working .list {
		padding-left: 8%;
	}

	.why-choose .services .tab-content .item {
		gap: 24px;
	}

	.why-choose .services .tab-content .item .content .desc {
		width: 100%;
	}

	.partner {
		width: 95%;
	}
}

@media (max-width: 1199px) {
	.vision.bullet-point::before {
		width: 80px;
	}
	
	.vision.bullet-point::after {
		left: 80px;
	}

	.working .list {
		padding-left: 0%;
		justify-content: center;
	}

	.working .list .item {
		padding-top: 110px;
	}

	.working .list .item .number {
		font-size: 150px;
	}

	.working .list .item .content {
		margin-left: 70px;
	}

	.why-choose .services .tab-content .item .image img {
		height: 400px;
	}

	.workflow {
		padding-left: 24px;
		padding-right: 24px;
	}

	.workflow .list {
		row-gap: 24px;
	}

	.workflow .list .item {
		width: 32%;
	}

	.price-list .table-price-list .item .title {
		font-size: 48px;
	}

	.price-list .table-price-list .item-3 .price {
		font-size: 18px;
		width: 280px;
		margin-left: auto;
    	margin-right: auto;
	}
}

@media (max-width: 991px) {
	.margin-section {
		margin-top: 60px;
	}

	.banner .content {
		background-size: cover;
	}

	.banner .content .desc {
		display: flex;
		flex-direction: column;
		align-items: start;
		row-gap: 24px;
	}

	.banner .content .desc .btn-explore {
		position: initial;
		transform: unset
	}

	.vision {
		width: 95%;
	}

	.vision.bullet-point::before {
		width: 60px;
	}
	
	.vision.bullet-point::after {
		left: 60px;
	}

	.why-choose {
		width: 95%;
	}

	.why-choose .services .tab-content .item {
		flex-direction: column;
	}

	.why-choose .services .tab-content .item .image img {
		width: 100%;
		height: 600px;
	}

	.why-choose .services .tab-content .item .content .slogan {
		margin-top: 32px;
	}

	.working {
		padding-bottom: 50px;
	}

	.working .list {
		flex-direction: column;
		align-items: center;
		gap: 32px;
	}

	.working .list .item {
		padding-top: 160px;
	}

	.working .list .item .number {
		font-size: 200px;
	}

	.working .list .item .content {
		margin-left: 120px;
	}

	.workflow {
		padding-bottom: 0px;
	}

	.workflow .list {
		row-gap: 24px;
	}

	.workflow .list .item {
		width: 48%;
	}

	.price-list .table-price-list {
		flex-wrap: wrap;
	}

	.price-list .table-price-list .item {
		width: 100%;
	}

	.partner .list {
		row-gap: 4px;
	}

	.price-list .table-price-list .item .title {
		min-height: auto;
		font-size: 40px;
		letter-spacing: normal;
		width: auto;
	}

	.price-list .table-price-list .item .price {
        font-size: 24px;
        width: auto;
		min-height: auto;
		letter-spacing: normal;
	}

	.price-list .table-price-list .item .detail-2,
	.price-list .table-price-list .item .desc .desc-title:first-child {
		min-height: auto;
	}
}

@media (max-width: 767px) {
	.banner {
		margin-top: 95px;
	}

	.banner .content .title {
		font-size: 57px;
	}

	.vision.bullet-point::before {
		width: 40px;
	}
	
	.vision.bullet-point::after {
		left: 40px;
	}

	.why-choose .services .tab-content .item .image img {
		height: 500px;
	}

	.working .title {
		font-size: 60px;
	}

	.workflow .title {
		font-size: 62px;
	}

	.workflow .list {
		justify-content: space-between;
		column-gap: 8px;
	}

	.workflow .list .item .content {
		width: calc(100% - 80px);
	}

	.workflow .list .item .step {
		font-size: 44px;
		width: 70px;
	}

	.price-list .scroll-note {
		color: #C8C8C8;
		font-size: 15px;
		font-style: italic;
		font-weight: 400;
		line-height: 20px;
	}

	.partner .list .item {
		padding: 50px 30px;
	}
}

@media (max-width: 576px) {
	.banner {
		margin-top: 66px;
		height: auto;
	}

	.banner .content {
		padding: 32px;
		height: 550px;
	}

	.banner .content .title {
		font-size: 44px;
		width: 170px;
	}

	.banner .content .desc p {
		font-size: 15px;
	}

	.vision {
		padding-left: 40%;
	}

	.vision p {
		width: 242px;
	}

	.vision.bullet-point::before {
		width: 35%;
	}
	
	.vision.bullet-point::after {
		left: 35%;
	}

	.why-choose .title {
		font-size: 47px;
	}

	.why-choose .services .tab-content .item .content .slogan {
		font-size: 17px;
	}

	.working .title {
		font-size: 47px;
	}

	.workflow .title {
		font-size: 51px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	.workflow {
		padding-left: 16px;
		padding-right: 16px;
	}

	.workflow .list .item {
		width: 49%;
	}

	.workflow .list .item .content {
		padding-left: 10px;
	}

	.price-list .title {
		font-size: 50px;
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}

	.partner .title {
		font-size: 50px;
	}
}

@media (max-width: 450px) {
	.banner .content {
		height: 500px;
		padding: 24px;
		margin: 0px 16px;
	}

	.banner .content .desc p {
		font-size: 14px;
	}

	.vision {
		padding-left: 30%;
	}

	.vision.bullet-point::before {
		width: 25%;
	}
	
	.vision.bullet-point::after {
		left: 25%;
	}

	.why-choose .title {
		font-size: 40px;
	}

	.why-choose .services .tab-content .item .image img {
		height: 400px;
	}

	.working .title {
		font-size: 39px;
	}

	.workflow .title {
		width: 350px;
		font-size: 45px;
	}

	.workflow .list .item {
		width: 48%;
	}

	.workflow .list .item .step {
		width: 65px;
	}

	.workflow .list .item .content {
		width: calc(100% - 65px);
	}

	.workflow .list .item .content .name,
	.workflow .list .item .content .desc {
		font-size: 14px;
	}

	.price-list .title {
		font-size: 42px;
		margin-bottom: 24px;
	}

	.partner .title {
		font-size: 42px;
	}

	.partner .list .item {
		padding: 30px 20px;
	}

	.price-list .table-price-list .item {
		padding: 16px;
	}

	.price-list .table-price-list .item .title {
		font-size: 30px;
	}

	.price-list .table-price-list .item .price {
        font-size: 18px;
	}
}

@media (max-width: 380px) {
	.banner {
		margin-top: 65px;
	}

	.banner .content {
		height: 450px;
		margin: 0px 10px;
		padding: 14px 10px;
	}

	.banner .content .desc p {
		font-size: 13px;
	}

	.vision {
		padding-left: 20%;
	}

	.vision.bullet-point::before {
		width: 15%;
	}
	
	.vision.bullet-point::after {
		left: 15%;
	}

	.why-choose .title {
		font-size: 32px;
	}

	.why-choose .services .tab .item {
		padding: 12px;
		font-size: 14px;
	}

	.why-choose .services .tab-content .item .image img {
		height: 350px;
	}

	.working .title {
		font-size: 32px;
	}

	.working .list .item .number {
		font-size: 170px;
	}

	.working .list .item {
		padding-top: 130px;
	}

	.working .list .item .content {
		margin-left: 60px;
		font-size: 15px;
	}

	.workflow {
		padding-left: 12px;
		padding-right: 12px;
	}

	.workflow .title {
		font-size: 35px;
		margin-bottom: 36px;
		width: 270px;
	}

	.workflow .list {
		column-gap: 4px;
	}

	.workflow .list .item {
		width: 49%;
	}

	.workflow .list .item .step {
		font-size: 28px;
		width: 40px;
	}

	.workflow .list .item .content {
		width: calc(100% - 40px);
		padding-left: 6px;
	}

	.workflow .list .item .content .name,
	.workflow .list .item .content .desc {
		font-size: 13px;
	}

	.price-list {
		padding: 0 12px;
	}

	.price-list .title {
		font-size: 38px;
		width: 220px;
	}

	.partner .title-mini {
		font-size: 16px;
	}

	.partner .title {
		font-size: 35px;
	}

	.partner .list .item {
		padding: 25px 15px;
	}

	.price-list .table-price-list .item .title {
		font-size: 26px;
	}

	.price-list .table-price-list .item .price {
        font-size: 16px;
	}
}